.book-form {
	@include page-layout();
}

.book-form__form {
	width: 100%;
	max-width: 800px;
	display: grid;
	grid-template-columns: [s] 1fr [e];
	grid-template-rows:
		[title-s] 40px [title-e author-s] 40px [author-e isbn-s] 40px [isbn-e description-s] fit-content(
			300px
		)
		[description-e pubyear-s] 40px [pubyear-e space-s] 40px [space-e buttons-s] 40px [buttons-e];
	grid-gap: 10px;
	justify-items: center;

	&__title {
		grid-column: 1/-1;
		grid-row: title-s/title-e;
	}

	&__author {
		grid-column: 1/-1;
		grid-row: author-s/author-e;
	}

	&__description {
		grid-column: 1/-1;
		grid-row: description-s/description-e;
	}

	&__isbn {
		grid-column: 1/-1;
		grid-row: isbn-s/isbn-e;
	}

	&__publication_year {
		grid-column: 1/-1;
		grid-row: pubyear-s/pubyear-e;
	}

	&__buttons {
		width: 90%;
		max-width: 800px;
		display: grid;
		grid-column: 1/-1;
		grid-row: buttons-s/buttons-e;

		display: grid;
		grid-template-columns:
			[cancel-s] fit-content(200px) [cancel-e submit-s] fit-content(200px)
			[submit-e delete-s] fit-content(200px) [delete-e];
		grid-template-rows: [s] 1fr [e];
		justify-items: start;

		&__cancel {
			grid-row: s/e;
			grid-column: cancel-s/cancel-e;
			width: 90px;
			margin-right: 15px;
		}
		&__submit {
			grid-row: s/e;
			grid-column: submit-s/submit-e;
			margin-right: 15px;
		}
		&__delete {
			grid-row: s/e;
			grid-column: delete-s/delete-e;
			justify-self: end;
		}
	}
}

.delete {
	button {
		background-color: $dark-red;

		&:hover {
			background-color: $light-red;
		}
	}
}
