.form-input,
.form-textarea,
.select-field {
	display: grid;
	width: 90%;
	grid-template-columns: [label-s] 100px [label-e input-s] 600px [input-e];
	grid-template-rows: 1fr;
	grid-gap: 20px;
	align-items: center;
}

.form-input {
	&__label {
		grid-column: label-s/label-e;
		font-size: 1.4rem;
	}

	&__input {
		@include base-input();
		grid-column: input-s/input-e;
		justify-self: start;
		width: 90%;
	}
}

.form-textarea {
	&__label {
		grid-column: label-s/label-e;
		font-size: 1.4rem;
	}

	&__textarea {
		@include base-input();
		grid-column: input-s/input-e;
		height: 100px;
		max-height: 300px;
		min-height: 100px;
		max-width: 90%;
		min-width: 90%;
		font-family: inherit;
	}
}

.select-field {
	&__label {
		grid-column: label-s/label-e;
		font-size: 1.4rem;
	}

	&__select {
		@include base-input();
		border-radius: 10px 0px 0px 10px;
		grid-column: input-s/input-e;
		width: 90%;
	}
}
