html {
	font-size: 10px; // 1rem is 10px
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

.app {
	//width: 100vw;
	display: grid;
	grid-template-columns: 1fr [header-footer-s] 100px [content-s] 800px [content-e] 100px [header-footer-e] 1fr;
	grid-template-rows: [header-s] 40px [header-e content-s] 1fr [content-e footer-s] 40px [footer-e];

	.header {
		grid-column: header-footer-s/header-footer-e;
		grid-row: header-s/header-e;
	}
	.content {
		grid-column: content-s/content-e;
		grid-row: content-s/content-e;
	}
	.footer {
		grid-column: header-footer-s/header-footer-e;
		grid-row: footer-s/footer-e;
	}
}

a {
	color: $light-grey-one;
	text-decoration: none;
	transition: all 0.5s ease-in-out;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: inherit;
	}
}
