.navbar {
	width: 100vw;
	height: 40px;
	color: $off-white-one;
	font-weight: 600;
	font-size: 1.6rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $blue-one;

	&__search-bar {
		width: 100%;
		input {
			height: 24px;
		}
	}
	&__left,
	&__center,
	&__right {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__link {
		display: flex;
		align-items: center;

		height: 20px;
		padding: 10px 20px;

		color: $off-white-one;

		&:visited {
			color: $off-white-one;
		}

		&:hover {
			background-color: $off-white-one;
			color: $blue-one;
			text-decoration: none;
		}
	}
}
