.search-bar {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: [input-s] 1fr [input-e icon-s] 40px [icon-e];
	font-size: 1.4rem;
	width: 300px;

	&__input {
		@include base-input();
		border-radius: 10px 0px 0px 10px;
		padding-right: 0px;
		grid-row: 1/-1;
		grid-column: input-s/input-e;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		grid-row: 1/-1;
		grid-column: icon-s/icon-e;
		z-index: 10;
		color: $blue-one;
		background-color: white;
		align-self: center;
		justify-self: center;
		width: 100%;
		height: 100%;
		border-radius: 0px 10px 10px 0px;
		border: none;
		outline: none;
		color: $blue-three;

		&:hover {
			color: $off-white-two;
			background-color: $blue-three;
			cursor: pointer;
		}
	}
}
