$blue-one: #077cf0;
$blue-two: #11aad9;
$blue-three: #073ce6;
$teal: #07f0e8;
$green: #07e69f;

$off-white-one: #e6f2ff; //more grey
$off-white-two: #cfdae6; //more blue
$light-grey-one: #acb5bf;
$medium-grey-one: #737980;
$dark-grey-one: #393c40;

$dark-red: #ff0000;
$light-red: #ff3838;
